*{
   padding: 0;
   margin: 0;
   box-sizing: box-sizing;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #1dd1a1;
   transition: 0.5s;
}
.main{
   position: relative;
   background-color: #fff;
   padding: 40px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   border: 2px solid #f2f2f2;
   border-radius: 20px;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
   z-index: 1;
}
.main #heading{
   font-weight: 500;
   border-left: 5px solid #1dd1a1;
   padding: 10px;
   line-height: 1em;
   transition: 0.5s;
   color: #333;
}
.main .input_box{
   position: relative;
}
.main .input_box input{
   position: relative;
   outline: none;
   border: 2px solid #555;
   padding: 10px 15px;
   width: 80%;
   border-radius: 20px;
   cursor: pointer;
}
.main .input_box input#btn{
   border: none;
   background-color: #1dd1a1;
   margin-left:10%;
}
.main .links{
   display: flex;
   justify-content: space-between;
}
.main .links a{
   font-size: smaller;
   text-decoration: none;
   color: #333;
}
.main .links a:nth-child(2){
   font-weight: 500;
   text-decoration: underline;
}
.color{
   position: absolute;
   top: 15%;
   padding: 5px;
   background-color: #fff;
   border: 2px solid #f2f2f2;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   z-index: 0;
}
.color span{
   position: relative;
   height: 20px;
   width: 20px;
   background: var(--clr);
   margin: 10px 5px;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.5s;
}
.color span.active {
   border: 2px solid #333;
   scale: 1.1;
   transition: 0.5s;
}
